@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
}

.bg1 {
  background-image: url("./assets/bg-main-desktop.png");
}

.bg2 {
  background-image: url("./assets/bg-card-front.png");
}

.bgMobile {
  background-image: url("./assets/bg-main-mobile.png");
  background-position: center;
  background-size: cover;
}